@media (max-width: 1437px)
{
    .line-new-1
    {
        width: 44em;
    }
    .container-3 p 
    {
        font-size: 24px;
    }
    .line-new-2
    {
        width: 40em;
    }
    .container-6 p 
    {
        font-size: 24px;
    }
    .more
    {
        display: flex;
        flex-direction: column;
    }
    
    
    .text-film-more
    {
        width: 2vw;
    }
}

@media (max-width: 1116px)
{
    .search__input 
    {
        font-size: 2vw;
    }
    .line-new-1
    {
        width: 64%;
    }
    .container-3 p 
    {
        font-size: 2.5vw;
    }
    .navbar, .navbar-wrap
    {
        height: 6vw;
        
    }
    .header-const
    {
        display: none;
    }
    .navbar-wrap .menu
    {
        display: none;
        
    }
    .hamb
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hamb-field
    {
        
        padding: 10px 20px;
        cursor: pointer;
    }
    .bar
    {
        display: block;
        width: 24px;
        height: 2px;
        margin: 5px auto;
        background-color: #6D59E5;
        transition: 0.2s;
    }
    .popupBurger
    {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #232222;
        z-index: 100;
        display: flex;
        transition: 0.3s;
    }
    .popupBurger.open
    {
        left: 0;
    }
    .popupBurger .menu
    {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding: 50px 0;
    }
    .popupBurger .menu > li
    {
        width: 80%;
    }
    .popupBurger .menu > li > a
    {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 20px 0;
        font-size: 2.8vw;
        border-bottom: #6D59E5 3px solid;
    }
  
    .hamb-field.active .bar:nth-child(2)
    {
        opacity: 0;
    }
    .hamb-field.active .bar:nth-child(1)
    {
        transform: translateY(7px) rotate(45deg);
    }
    .hamb-field.active .bar:nth-child(3)
    {
        transform: translateY(-7px) rotate(-45deg);
    }
    body.noscroll
    {
        overflow: hidden;
    }
   
    .logo
    {
        display: flex;
        justify-content: center;
        width: 30vw;
   
    }
    
}
@media (max-width: 891px)
{
    .line-new-1
    {
        width: 83%;
    }
    .line-new-2
    {
        width: 73%;
    }
    .container-6 p 
    {
        font-size: 3vw;
    };
    .container-3 p 
    {
        font-size: 3vw;
    }
    .container-7
    {
        display: flex;
        flex-wrap: wrap;
    }
    .film
    {
        width: 15em;
    }
    .text-film
    {
        font-size: 3vw;
        padding-bottom: 5%;
    }
    
} 






@media (max-width: 1188px) 
{

   
    .block2
    {
        width: 80%;
        flex-wrap: wrap;
    }
    select
    {
    padding: 1% 0 1% 0;
    width: 30vw;
    
    }
}

@media (max-width: 779px) 
{
    .film
    {
    width: 30vw;
    }
    .block3
    {
        display: flex;
        justify-content: center;
        width: 100%; 
    }
    .block2
    {
        padding: 0;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
    }
    select
    {
    padding: 1% 0 1% 0;
    width: 92%;
    margin: 1%;
    }
}






@media screen and (max-width:1062px) 
{
    .new-img-1
    {
    width: 24.6vw;
    }
    .text1
    {
       
        width: 80%;
    }
    .text-new-1, .text-new-5
    {
        font-size: 2vw;
    }
    .new-1, .new-5
    {
        
        width: 31.7%;
    }
    .new-3
    {
        width: 65%;
    }
    .new-img-1
    {
    width: 24.6vw;
    }
    .text-new-3
    {
        font-size: 2vw;
    }
    .button-1
    {
        font-size: 2vw;
    }
}
@media screen and (max-width:891px) 
{
    .block4
    {
        width: 100%;
    }
    .new-img-1
    {
        width: 31.5vw;
    }
    .new-4
    {
        width: 98%;
    }
    .new-img-4
    {
        width: 70vw;
    }
}
@media screen and (max-width:691px) 
{
    .new-4 img
    {
        width: 60vw;
    }
    .text-new-4
    {
        font-size: 3vw;
    }
    .date-4
    {
        font-size: 2vw;
    }
    .date-1, .date-5
    {
        font-size: 2vw;
    }
    .new-img-3
    {
        width: 35vw;
    }
    .text-new-3
    {
        font-size: 2.8vw;
    }
    .date-3
    {
        font-size: 2vw;
    }
    .text-new-1, .text-new-5
    {
        font-size: 2.6vw;
    }
    .text5
    {
        width: 25vw;
    }
}
@media screen and (max-width:446px) 
{
    .new-img-3
    {
        width: 35vw;
    }

.new-4 img
    {
        width: 50vw;
    }
}



@media screen and (max-width:1116px) 
{
    .footer-1
{
    flex-wrap: wrap;
}
.container-9 a
{
    padding: 2%;
}
}
@media screen and (max-width:1384px) 
{
    .second_block
    {
        width: 100%;
        justify-content: center;
        padding: 0 10% 0 10%;
    }
    .second_block_two
    {
        width: 100%;
        justify-content: center;
    }
    .third_block
{
    width: 100%;
    padding: 0 5% 0 5%;
 
}
}

