.menu2
{
    color: #998FD7;
}
.container-3
{
    display: flex;
    justify-content: center;
    padding-top: 1%;
}
.film img
{
    height: 100%;
    width: 100%;
}
.film
{
    display: flex;
    flex-direction: column;
    
    width: 11em;
    justify-content: center;
    align-items: center;
    padding: 0.3% 0.5%;
    
}
.text-film
{
    padding: 0;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 5% 0 7% 0;
    margin: 0;
}

.block3
{
    display: flex;
    justify-content: center;
    width: 78%;
    flex-wrap: wrap;
}
